.label {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 10px 0;
  font-size: 25px;
  font-weight: 600;
}

.input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;

  font-size: 20px;
  border: 3px solid rgb(171, 172, 167);
  border-radius: 10px;
  box-sizing: border-box;
}

.input:hover {
  border-color: #060707;
}
